# =============================================
# Configuración del Servidor
# =============================================
VITE_PORT=5173
VITE_NODE_ENV=development  # development, production, testing
VITE_OPEN_BROWSER=true

# =============================================
# Ruta de la Api
# =============================================
# Variables de entorno para desarrollo

## Ruta Local de Vite
VITE_API_URL=http://localhost:3000
VITE_SOCKET_URL=ws://localhost:3000

## Ruta Network de Vite
# VITE_API_URL=http://192.168.0.105:3000
# VITE_SOCKET_URL=ws://192.168.0.105:3000