# =============================================
# Configuración del Servidor
# =============================================
VITE_PORT=5173
VITE_NODE_ENV=development  # development, production, testing
VITE_OPEN_BROWSER=false

# =============================================
# Ruta de la Api
# =============================================

## Ruta Local de Vite
VITE_API_URL=/api
VITE_SOCKET_URL=https://localhost
VITE_FRONTEND_URL=https://localhost:443